/* input*/
#input{
    margin-bottom:10px;
}

#input.dark{
    background-color:#32363e;
    color:white;
}

#input.light{
    background-color: white;
    color: black;
}

/* output */
#output.dark{
    background-color:#32363e;
    color:white;
}
#output.light{
    background-color: white;
    color:black;
}

/* inner body*/
#inner-body{
    display: inline-block;
    border-radius:25px;
    border:none;
    padding:60px;
}
#inner-body.dark{
    background-color: #5c6370;
    color:white;

}
#inner-body.light{
    background-color: #e0e0e0;
}

/* outer-body*/
#outer-body{
    display: inline-block;
    border-radius: 25px;
    border: none;
    padding:70px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
#outer-body.dark{
    background-color:#32363e;
    color:white;
}
#outer-body.light{
    background-color: #EEEEEE;
    color:black;
}

/* body */
body{
    font-size: 16px;
}

body.dark{
    color: white;
    background-color: #282c34;
}
body.light{
    color: black;
    background-color: white;
}

/* dark-mode button*/
#light-dark{

}

@media(max-width:768px){
    body{
        font-size: 8px;
        text-align: center;
    }
    #inner-body{
        display: block;
        border-radius:0px;
        border:none;
        padding:5px;
    }
    body.dark{
        background-color: #32363e;
        color:white;

}
    #outer-body{
        display: block;
        border-radius: 0px;
        border: none;
        padding:5px;
        position:fixed;
        top:0%;
        left:0%;
        transform: translate(-0%, -0%);
}
}
